In [64]:
import pandas as pd

In [65]:
df = pd.read_csv('iris.txt', delimiter='\t')
df

,sepal_length_in_cm,sepal_width_in_cm,petal_length_in_cm,petal_width_in_cm,class
0,6.5,3.0,5.2,2.0,3
1,5.1,2.5,3.0,1.1,2
2,4.9,3.1,1.5,0.1,1
3,4.9,3.1,1.5,0.1,1
4,6.8,3.0,5.5,2.1,3
...,...,...,...,...,...
145,7.6,3.0,6.6,2.1,3
146,5.5,2.6,4.4,1.2,2
147,5.5,3.5,1.3,0.2,1
148,6.4,3.1,5.5,1.8,3
149,5.4,3.0,4.5,1.5,2

In [66]:
label_map = {1: 'Setosa', 2: 'Versicolour', 3: 'Virginica'}
df['labeled_class'] = df['class'].map(label_map)

In [67]:
float(df['petal_length_in_cm'][0])

5.2

In [68]:
float(df['class'][1])

2.0

In [69]:
df['labeled_class'][1]

'Versicolour'